<div class="badgebar">
    <div class="badge">
        <a href="https://www.linkedin.com/in/nltommy/" target="_blank">
            <img src="{{ "/assets/images/linkedin.png" | relative_url }}" alt="LinkedIn Profile" />
        </a>
    </div>
    <div class="badge">
        <a href="https://www.github.com/nltommy" target="_blank">
            <img src="{{ "/assets/images/github.png" | relative_url }}" alt="GitHub Profile" />
        </a>
    </div>
    <div class="badge">
        <a href="https://codepen.io/" target="_blank">
            <img src="{{ "/assets/images/codepen.png" | relative_url }}" alt="CodePen Profile" />
        </a>
    </div>
    <div class="badge">
        <a href="https://www.instagram.com/tommyclarkii" target="_blank">
            <img src="{{ "/assets/images/instagram.png" | relative_url }}" alt="Instagram" />
        </a>
    </div>
</div>
<div class="badgebar">
    <div class="badge">LinkedIn</div>
    <div class="badge">GitHub</div>
    <div class="badge">CodePen</div>
    <div class="badge">Instagram</div>
</div>
