---
layout: default
---
<div class="container">
    <div>
        <h4>Drive</h4>
        <p>For me, the goal is to create experiences that improve peoples' quality of life and empower others to do the same. I find joy in the exchange of ideas, and I want to join a team that believes fostering environments where people are encouraged to grow is paramount to effective projects.</p>
    </div>
    <div>
        <h4>Projects</h4>
        <p>A few projects I am currently working on:</p>
        <div class="row">
            <div class="one-third column space">
                <div class="card">
                    <img src="{{ "/assets/images/project1.png" | relative_url }}" alt="project1"/>
                    <h5>Project 1</h5>
                    <p></p>
                    <div style="text-align:right"><a target="_blank" href="https://github.com/">read more</a></div>
                </div>
            </div>
            <div class="one-third column space">
                <div class="card">
                    <img src="{{ "/assets/images/project2.png" | relative_url }}" alt="project2"/>
                    <h5>Project 2</h5>
                    <p></p>
                    <div style="text-align:right"><a target="_blank" href="https://github.com/">read more</a></div>
                </div>
            </div>
            <div class="one-third column space">
                <div class="card">
                    <img src="{{ "/assets/images/project3.png" | relative_url }}" alt="project3"/>
                    <h5>Project 3</h5>
                    <p></p>
                    <div style="text-align:right"><a target="_blank" href="https://github.com/">read more</a></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>Method</h4>
        <div class="row">
            <div class="one-third column space">
                <div class="card">
                    <img src="{{ "/assets/images/plan1.jpg" | relative_url }}" alt="plan"/>
                    <h5>Plan</h5>
                    <p></p>
                </div>
            </div>
            <div class="one-third column space">
                <div class="card">
                    <img src="{{ "/assets/images/plan2.jpg" | relative_url }}" alt="code"/>
                    <h5>Code</h5>
                    <p></p>
                </div>
            </div>
            <div class="one-third column space">
                <div class="card">
                    <img src="{{ "/assets/images/plan3.jpg" | relative_url }}" alt="learn"/>
                    <h5>Learn</h5>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="one-half column">
                <h4>Day Job</h4>
                <p></p>
            </div>
            <div class="one-half column">
                <h4>Hobbies</h4>
                <p></p>
            </div>
        </div>
    </div>
    <div>
        <h4>Skills</h4>
        <div class="row">
            <button>Ruby</button>
            <button>Rails 5</button>
            <button>JavaScript</button>
            <button>Node.js</button>
            <button>AngularJS</button>
            <button>jQuery</button>
            <button>AJAX</button>
            <button>HTML5 and CSS3</button>
            <button>Python</button>
            <button>PHP</button>
            <button>XCode</button>
            <button>Android Studio</button>
            <button>Cordova</button>
            <button>Ionic</button>
            <button>Git</button>
            <button>Object-Oriented Programming</button>
            <button>Agile Methodologies</button>
        </div>
    </div>
</div>